<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Explorar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-padding">

    <ion-row>
      <ion-col size="12">
        <ion-searchbar
          showCancelButton="never"
          placeholder="Listo para una nueva aventura?"
          (ionChange)="searchItem($event)"
          [disabled]="isLoading"
          mode="ios"
        ></ion-searchbar>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col
        size="12"
        class="chip-wrapper"
        *ngIf="!isLoading && inventoryList.length > 0"
      >
        <div
          class="chip"
          (click)="filterByCategory('ALL')"
          [ngClass]="{'selected':chipSelected === 'ALL'}"
        >
          <label>Todos</label>
        </div>
        <div
          class="chip"
          *ngFor="let item of categoryList"
          (click)="filterByCategory(item)"
          [ngClass]="{'selected':chipSelected === item.category}"
        >
          <label>
            {{item.category}}
          </label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col
        size="12"
        *ngIf="!isLoading && inventoryList.length > 0"
      >

        <app-item
          *ngFor="let item of inventoryList"
          (click)="showItemDetails(item)"
          [sourceItem]="item"
        ></app-item>

      </ion-col>

      <ion-col
        size="12"
        *ngIf="!isLoading && inventoryList.length === 0"
      >
        <app-not-found [sourceMessage]="errMsg"></app-not-found>
      </ion-col>
    </ion-row>

    <app-loader [sourceStatus]="isLoading"></app-loader>
  </ion-grid>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button
      color="tertiary"
      routerLink="/rental/new/0"
    >
      <ion-icon name="bicycle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>