ion {
  &-card {
    min-height: 180px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;

    &::after {
      content: "";
      background-color: var(--ion-color-overlay);
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 20px;
      z-index: 2;
    }

    .wrapper {
      position: relative;
      z-index: 3;

      &_description {
        height: 180px;
        padding: 10px 20px;
      }
    }
  }

  &-label {
    h5 {
      color: var(--ion-color-white) !important;
      text-transform: capitalize !important;
      font-weight: 600 !important;
      font-size: 15px !important;
      padding-left: 4px;

      &.small {
        font-size: 13px !important;
        font-weight: 400 !important;
      }

      &.medium {
        font-size: 15px !important;
        font-weight: 700 !important;
      }

      &.large {
        font-size: 20px !important;
        font-weight: 700 !important;
      }
    }

    &.top {
      margin-top: 6px;
    }
  }
}

.column {
  display: flex;
  flex-direction: row;
  height: 50%;
  justify-content: flex-end;

  &:first-child {
    align-items: flex-start;

    ion-col {
      &:first-child {
        display: flex;
        justify-content: flex-start;
      }

      &:last-child {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  &:last-child {
    align-items: flex-end;

    ion-col {
      &:last-child {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
