<ion-card [style.background-image]="'url(' + item.thumbnail + ')'">
  <ion-row class="wrapper">
    <ion-col
      size="12"
      class="wrapper_description"
    >
      <ion-label
        class="date"
        *ngIf="item && item.rentDate"
      >
        <ion-icon
          name="calendar"
          color="tertiary"
        ></ion-icon>
        <h6>{{item.rentDate}}</h6>
      </ion-label>
      <ion-label>
        <h6 class="title">{{item.title}}</h6>
      </ion-label>
      <ion-label [style.display]="'flex'">
        <ion-icon
          name="location"
          color="tertiary"
        ></ion-icon>
        <h6 class="location">{{item.location}}</h6>
      </ion-label>
    </ion-col>
  </ion-row>
</ion-card>