<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Historial
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon
        slot="icon-only"
        name="paper-plane-outline"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="12">
        rental works!
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button
      color="tertiary"
      routerLink="/rental"
    >
      <ion-icon name="bicycle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>