<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button
        text="Atras"
        defaultHref="/"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>
      Checkout
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-grid class="ion-padding">
    <form
      class="form"
      [formGroup]="rentalForm"
      (ngSubmit)="submitRentalForm(rentalForm.value)"
    >
      <ion-row *ngIf="!bikeSelected">
        <ion-col
          size="12"
          class="form-input"
        >
          <ion-text color="dark">
            <h6>Selecciona tu producto</h6>
          </ion-text>
          <ion-input
            formControlName="bike"
            type="text"
            name="bike"
            mode="ios"
            placeholder="Selecciona tu bicicleta"
            (click)="selectBikeInformation()"
            readonly
            required
          >
          </ion-input>

          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.bike">
              <div
                class="error-message"
                *ngIf="rentalForm.get('bike').hasError(validation.type) && (rentalForm.get('bike').dirty || rentalForm.get('bike').touched)"
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

        </ion-col>
      </ion-row>

      <ion-row *ngIf="bikeSelected">
        <ion-col size="12">
          <ion-thumbnail>
            <ion-img [src]="bikeSelected.thumbnail"></ion-img>
          </ion-thumbnail>
        </ion-col>

        <ion-col size="8">
          <ion-text color="dark">
            <h1>{{bikeSelected.title}}</h1>
          </ion-text>
          <ion-text color="medium">
            <p>{{bikeSelected.description | slice:0:50}}...</p>
          </ion-text>
        </ion-col>


        <ion-col size="4">
          <ion-text color="dark">
            <h1>{{bikeSelected.price | currency:'EUR':true}}</h1>
          </ion-text>
          <ion-text
            color="medium"
            *ngIf="bikeSelected.type === 'Premium'"
          >
            <p>
              <ion-icon
                name="star"
                color="warning"
              ></ion-icon>{{bikeSelected.type}}
            </p>
          </ion-text>
        </ion-col>

        <ion-col size="6">
          <ion-text color="dark">
            <h5>Días requeridos</h5>
          </ion-text>
        </ion-col>

        <ion-col size="6">
          <app-counter-day
            [sourceCounter]="daySelected"
            (handleIncreaseClicked)="increaseDays($event)"
            (handleDecreaseClicked)="decreaseDays($event)"
          ></app-counter-day>
        </ion-col>

        <ion-col size="8">
          <ion-text color="dark">
            <h5>Total a Pagar</h5>
          </ion-text>
        </ion-col>

        <ion-col size="4">
          <ion-text color="dark">
            <h1>{{totalAmount | currency:'EUR':true }}</h1>
          </ion-text>
        </ion-col>

        <ion-col
          size="12"
          class="form-input"
        >
          <ion-button
            expand="block"
            mode="ios"
            color="tertiary"
            type="submit"
            [disabled]="!rentalForm.valid"
          >Completar checkout</ion-button>
        </ion-col>

      </ion-row>
    </form>
  </ion-grid>
</ion-content>