.error {
  &_wrapper {
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ion-label {
      p {
        font-weight: 300;
        text-align: center;
      }
    }
  }
}
